<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^home/(.*)\.html$ /home/index.php?$1.html [L]
RewriteRule ^admin/(.*)\.html$ /admin/index.php?$1.html [L]
RewriteRule ^(.*)\.html$ /index.php?$1.html [L]
</IfModule>