<?php
defined('shouing') or die('Access is denied.');
include './view/header.html';
?>
<!--面包屑导航-->
<div class="box path">
    <a href=".">网站首页</a>
    <i class="path-split">\</i>
    <span>找回密码</span>
</div>
<!--登录or注册选项卡-->
<div class="box">
    <h2>找回密码</h2>
    <form action="" method="post" id="user-findpwd" class="form">
        <input type="text" data-pattam="^\w+(\.\w+)*?@\w+?(\.\w+)+?$" name="email" placeholder="账号绑定的邮箱"/>
        <label  class="clearfix">
            <input type="text" data-pattam=".+?" name="code" placeholder="验证码"/>
            <img src="verify.html" id="verify_code">
        </label>
        <input type="submit" value="找回密码" />
    </form>
</div>
<!--其它操作-->
<div class="box inline-list">
    <span>其它</span><a href="visit-login.html">登录</a><a href="visit-register.html">注册</a>
</div>
<?php include './view/footer.html';?>