<?php
defined('shouing') or die('Access is denied.');
include './view/header.html';
?>

<!--面包屑导航-->
<div class="box path">
    <a href=".">网站首页</a>
    <i class="path-split">\</i>
    <a href="user.html">个人空间</a>
    <i class="path-split">\</i>
    <span>密码修改</span>
</div>

<!--个人信息-->
<div class="box">
    <form action="" method="post" class="form" id="user-password">
        <input type="text" name="password_old" data-pattam=".+?" placeholder="旧密码">
        <input type="text" name="password_new" data-pattam="^\w{6,16}$" placeholder="新密码，6-16位">
        <input type="submit" value="保存修改">
    </form>

</div>


<?php include './view/footer.html';?>