<?php
defined('shouing') or die('Access is denied.');
?><!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><?php echo $title;?></title>
    <link rel="stylesheet" href="<?php echo url_static;?>css/reset.css">
    <link rel="stylesheet" href="<?php echo url_static;?>css/main.css">
    <link rel="stylesheet" href="<?php echo url_static;?>css/iconfont.css">
    <script src="<?php echo url_static;?>js/fastclick.js"></script>
    <script src="<?php echo url_static;?>js/jquery-2.1.4.min.js"></script>
    <script src="<?php echo url_static;?>js/ajaxupload.3.9.js"></script>
    <script src="<?php echo url_static;?>js/admin.js"></script>
</head>
<body>
<!--顶部导航-->
<div class="box top-nav">
    <a href="."><i class="icon icon-home"></i>后台管理首页</a>
    <a href="admin-logout.html">退出</a>
</div>
